@page "/"

<div id="b1" class="row background">
    <div class="col-2">
    </div>
    <div class="col-8 text-center">
        <SfCarousel ShowIndicators="false">
            <CarouselItem>
                <div id="b2" class="background">
                    <div class="paragraphformat height">
                        BUN VENIT LA FUN
                        <br />
                        SHOOTING CENTER
                        <a href="/Despre" class="buttonformat ms-5">Despre  --></a>
                    </div>
                </div>
            </CarouselItem>
            <CarouselItem>
                <div id="b3" class="background">
                    <div class="paragraphformat height">
                        DEVINO MAI BUN
                        <br />
                        ALĂTURI DE NOI
                        <a href="/Servicii" class="buttonformat ms-5">Servicii  --></a>
                    </div>
                </div>
            </CarouselItem>
            <CarouselItem>
                <div id="b4" class="background">
                    <div class="paragraphformat height">
                        DESCOPERĂ CE 
                        <br />
                        AVEM DE OFERIT
                        <a href="/Media" class="buttonformat ms-5">Media  --></a>
                    </div>
                </div>
            </CarouselItem>
        </SfCarousel>
    </div>
    <div class="col-2">
    </div>
</div>
<div id="b0" class="row background justify-content-center">
    <div id="b00" class="col-4 background p-5 pt-0">
        <div class="titleformat mb-3">
            <i class="fa fa-smile-o icon"></i>
            DISTRACȚIE
        </div>
        <div id="p1" class="pt-2">
            Petrece-ți timpul în cel mai plăcut mod alături de prietenii tăi sau familie! Putem organiza jocuri și competiții pentru tine și echipa ta începând de azi! 
        </div>
    </div>
    <div class="col-1">

    </div>
    <div id="b00" class="col-4 background p-5 pt-0">
        <div class="titleformat mb-3">
            <i class="fa fa-trophy icon"></i>
            ANTRENAMENT
        </div>
        <div id="p1" class="pt-2">
            Tirul cu arma nu mai depinde de spațiu, vreme sau alte condiții care pot să te împiedice să te antrenezi! Vino să își testezi limitele alături de noi! 
        </div>
    </div>
</div>
<div id="b5" class="row background">
    <div class="displayer textformat">
        ÎNCEARCĂ 
    </div>
    <div class="paragraphformat  mt-2">
        FUN SHOOTING CENTER
    </div>
    <div class="displayer mt-5">
        <a href="/Contact" class="buttonformat p-4" >Contact --></a>
    </div>
    
</div>

@code {

}
