@page "/"

<div id="bbackgreycolor" class="row background">
    <div class="col-2">
    </div>
    <div class="col-8 text-center">
        <SfCarousel AnimationEffect="CarouselAnimationEffect.Slide" Loop="true" >
            <CarouselItem>
                <div id="b1" class="row background">
                    <div class="displayer titleformat mb-3 animation">
                        BUN VENIT LA FUN
                        <br />
                        SHOOTING CENTER
                    </div>
                    <div class="displayer mt-2 animation">
                        <a href="/Despre" class="buttonformat">Despre --></a>
                    </div>
                </div>
            </CarouselItem>
            <CarouselItem>
                <div id="b2" class="row background">
                    <div class="displayer titleformat mb-3">
                        DEVINO MAI BUN
                        <br />
                        ALĂTURI DE NOI
                    </div>
                    <div class="displayer mt-2">
                        <a href="/Servicii" class="buttonformat">Servicii --></a>
                    </div>
                </div>
            </CarouselItem>
            <CarouselItem>
                <div id="b3" class="row background">
                    <div class="displayer titleformat mb-3">
                       DESCOPERĂ CE
                       <br/>
                       AVEM DE OFERIT
                    </div>
                    <div class="displayer mt-2">
                        <a href="/Media" class="buttonformat">Media --></a>
                    </div>
                </div>
            </CarouselItem>
        </SfCarousel>
    </div>
    <div class="col-2">
    </div>
</div>
<div id="bbackblackcolor" class="row background justify-content-center padding">
    <div id="bblack" class="col-4 background p-5 pt-0">
        <div class="minititleformat mb-3">
            <i class="fa fa-smile-o icon"></i>
            DISTRACȚIE
        </div>
        <div class="paragraphformat pt-2">
            Petrece-ți timpul în cel mai plăcut mod alături de prietenii tăi sau familie! Putem organiza jocuri și competiții pentru tine și echipa ta începând de azi! 
        </div>
    </div>
    <div class="col-1">

    </div>
    <div id="bblack" class="col-4 background p-5 pt-0">
        <div class="minititleformat mb-3">
            <i class="fa fa-trophy icon"></i>
            ANTRENAMENT
        </div>
        <div class="paragraphformat pt-2">
            Tirul cu arma nu mai depinde de spațiu, vreme sau alte condiții care pot să te împiedice să te antrenezi! Vino să își testezi limitele alături de noi! 
        </div>
    </div>
</div>
<div id="bmain2" class="row background">
    <div class="displayer undertitleformat">
        ÎNCEARCĂ 
    </div>
    <div class="displayer titleformat mt-2">
        FUN SHOOTING CENTER
    </div>
    <div class="displayer mt-5">
        <a href="/Contact" class="buttonformat" >Contact --></a>
    </div>
</div>

@code {

}
