@page "/Contact"
@inject FormularDeContactDbService formularDbService;

<h3>Contact</h3>

<EditForm Model=@formular OnValidSubmit="HandleSubmitFormular">
    <DataAnnotationsValidator/>
    <label for="FormularName">Nume</label>
    <InputText id="FormularName" placeholder="" @bind-Value="@formular.FormularName"></InputText>
    <ValidationMessage For=@(() => formular.FormularName) />
    <br />
    <label for="FormularEmail">Email</label>
    <InputText id="FormularEmail" placeholder="" @bind-Value="@formular.FormularEmail"></InputText>
    <ValidationMessage For=@(() => formular.FormularEmail)/>
    <br />
    <label for="FormularPhone">Telefon</label>
    <InputText id="FormularPhone" placeholder="" @bind-Value="@formular.FormularPhone"></InputText>
    <ValidationMessage For=@(() => formular.FormularPhone) />
    <br />
    <label for="FormularDescription">Descriere</label>
    <InputText id="FormularDescription" placeholder="" @bind-Value="@formular.FormularDescription"></InputText>
    <ValidationMessage For=@(() => formular.FormularDescription) />
    <br />
    <button type="submit">Create</button>
</EditForm>

@code {
    FormularDeContactModel formular = new();

    public void HandleSubmitFormular(EditContext editContext)
    {
        var newFormular = (FormularDeContactModel)editContext.Model;
       
        formularDbService.AddFormular(newFormular);
    }
}
