@page "/Media"

<div id="bmain" class="row background">
    <div class="displayer titleformat mb-3 animation">
        MEDIA
    </div>
    <div class="displayer undertitleformat animation">
        ARUNCĂ UN OCHI LA POZELE NOASTRE
    </div>
</div>
<div id="bbackgreycolor" class="row background pt-5 pb-3">
    <div class="displayer undertitleformat">
        VEZI TOTUL DESPRE NOI
    </div>
    <div class="displayer titleformat mt-3">
        GALERIE FOTO ȘI VIDEO
    </div>
    <div class="displayer minititleformat pt-3">
        ----------
    </div>
</div>
<div id="bbackgreycolor" class="row background justify-content-evenly p-5">
       <div class="col-5">
            <img class="imageformat displayer container-fluid" src="images/Media/Media7.jpg" />
            <img class="imageformat displayer container-fluid" src="images/Media/Media3.jpg" />
            <img class="imageformat mb-2 displayer container-fluid" src="images/Media/Media8.jpg" />
       </div>
       <div class="col-5">
            <img class="imageformat displayer container-fluid" src="images/Media/Media6.jpg" />
            <img class="imageformat displayer container-fluid" src="images/Media/Media4.jpg" />
            <img class="imageformat mb-2 displayer container-fluid" src="images/Media/Media5.jpg" />
       </div>
       <div class="displayer pb-3">
                <video width="800" height="600" controls>
                    <source src="images/Media/Media1.mp4" type="video/mp4">
                </video>
       </div>
</div>

@code {

}
