@page "/Servicii"

<div id="bmain1" class="row background">
    <div class="titleformat displayer mb-3">
        SERVICII
    </div>
    <div class="undertitleformat displayer">
        ALEGE MAI JOS CE TE PASIONEAZĂ!
    </div>
</div>
<div id="bbackblackcolor" class="row background justify-content-center">
    <div class="displayer title">
        TARIFE SIMULATOR
    </div>
    <div id="bblackcolor" class="row background justify-content-center padding pb-5">
        <div id="bblack" class="col-5 background p-5 pt-0">
            <div class="minititleformat mb-4">
                <i class="fa fa-dot-circle-o icon"></i>
                PISTOALE
            </div>
                <table class="table table-borderless text-center tableformat">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">30 MIN</th>
                        <th scope="col">60 MIN</th>
                        <th scope="col">90 MIN</th>
                        <th scope="col">120 MIN</th>
                    </tr>
                    <tr>
                        <th scope="col">1 TRĂGĂTOR</th>
                        <th scope="col">30 RON</th>
                        <th scope="col">60 RON</th>
                        <th scope="col">80 RON</th>
                        <th scope="col">100 RON</th>
                    </tr>
                    <tr>
                    <th scope="col">2 TRĂGĂTORI</th>
                        <th scope="col">60 RON</th>
                        <th scope="col">110 RON</th>
                        <th scope="col">150 RON</th>
                        <th scope="col">180 RON</th>
                    </tr>
                    <tr>
                    <th scope="col">3 TRĂGĂTORI</th>
                        <th scope="col">90 RON</th>
                        <th scope="col">150 RON</th>
                        <th scope="col">190 RON</th>
                        <th scope="col">220 RON</th>
                    </tr>
                    <tr>
                    <th scope="col">4 TRĂGĂTORI</th>
                        <th scope="col">120 RON</th>
                        <th scope="col">180 RON</th>
                        <th scope="col">230 RON</th>
                        <th scope="col">260 RON</th>
                    </tr>
                </table>
        </div>
        <div class="col-1">
        </div>
        <div id="bblack" class="col-5 background p-5 pt-0">
            <div class="minititleformat mb-4">
                <i class="fa fa-binoculars icon"></i>
                VÂNĂTOARE
            </div>
                <table class="table table-borderless text-center tableformat">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">30 MIN</th>
                        <th scope="col">60 MIN</th>
                        <th scope="col">90 MIN</th>
                        <th scope="col">120 MIN</th>
                    </tr>
                    <tr>
                        <th scope="col">1 TRĂGĂTOR</th>
                        <th scope="col">40 RON</th>
                        <th scope="col">70 RON</th>
                        <th scope="col">100 RON</th>
                        <th scope="col">120 RON</th>
                    </tr>
                    <tr>
                        <th scope="col">2 TRĂGĂTORI</th>
                        <th scope="col">80 RON</th>
                        <th scope="col">130 RON</th>
                        <th scope="col">160 RON</th>
                        <th scope="col">200 RON</th>
                    </tr>
                </table>
        </div>
    </div>
</div>
<div id="bbackblackcolor" class="row background text-center pb-5 pt-1">
    <div class="displayer mentionsformat">
        * Fiecare tragator va dispune de un pistol/pusca.
        <br/>
        * Gama de jocuri si antrenamente cuprinde peste 20 de scenarii de tragere.
        <br />
        * Rezervarile pentru antrenamentele profesioniste si aniversari se pot face doar telefonic.
        <br />
        * Pretul pentru antrenametele profesioniste si aniversari se stabileste individual.
        <br />
        * Acesta poate varia intre 300 si 500 de lei in functie de timp si de preferinte.
        
    </div>
</div>
<div id="bmain2" class="row background">
    <div class="displayer undertitleformat">
        BUCURATE DE EXPERIENTA
    </div>
    <div class="displayer titleformat mt-2">
        FUN SHOOTING CENTER
    </div>
    <div class="displayer mt-5">
        <a href="/Programare" class="buttonformat" >Programare --></a>
    </div>
</div>

@code {

}
