<div id="b0" class="background">
    <div class="row justify-content-center pb-3">
        <div class="col-1">
        </div>
        <div class="col-2">
            <img src="/images/Logo.jpg" href="/" class="logo" />
        </div>
        <div class="col-1">
        </div>
        <div class="col-2">
            <p class="minititleformat">
                EXPLOREAZĂ
            </p>
                <a href="/Despre">
                    <i class="fa fa-bullseye"></i>
                    <span class="textformat">
                        Despre
                    </span>
                </a>
                <br/>
                <a href="/Servicii">
                    <i class="fa fa-bullseye"></i>
                    <span class="textformat">
                        Servicii
                    </span>
                </a>
                <br />
                <a href="/Media">
                    <i class="fa fa-bullseye"></i>
                    <span class="textformat">
                        Media
                    </span>
                </a>
        </div>
        <div class="col-1">
        </div>
        <div class="col-2">
            <p class="minititleformat">
                CONTACT
            </p>
            <a href="/Contact#map" target="_top">
                    <i class="fa fa-bullseye"></i>
                    <span class="textformat">
                        Locație
                    </span>
            </a>
                <br />
                <a href="/Programare">
                    <i class="fa fa-bullseye"></i>
                    <span class="textformat">
                        Programare
                    </span>
                </a>
                <br />
                <a href="/Contact#form" target="_top">
                    <i class="fa fa-bullseye"></i>
                    <span class="textformat">
                        Trimite un mesaj
                    </span>
                </a>
        </div>
    </div>
    <div class="row justify-content-center pt-5">
        <div class="col-1">
        </div>
        <div class="col-3 paragraphformat">
            Vrei să te antrenezi, să te relaxezi după o zi lungă sau să oferi un cadou inedit? Te asteptăm la Fun Shooting Center!
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
            <i class="fa fa-volume-control-phone iconformat"></i>
            <span class="contactformat ps-3">
                0711 111 111
            </span>
            <br />
            <i class="fa fa-envelope-o iconformat"></i>
            <span class="contactformat">
                office@funshootingcenter.ro
            </span>
        </div>
    </div>
</div>
<div id="b1" class="background row">
        <div class="col-2">
        </div>
        <div class="col-2 text-center">
            <a href="">
            <i class="fa social fa-facebook me-3"></i>
            </a>
            <a href="">
            <i class="fa social fa-instagram me-5"></i>
            </a>
        </div>
    <div class="col-8 mentionsformat">
         Toate drepturile rezervate. Fun Shooting Center
    </div>
</div>

@code {

}
