#b0 {
    background-image: url(/images/Footer.jpg);
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#b1 {
    background: linear-gradient(90deg, var(--maincolor) 30%, var(--backgreycolor) 30%);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.logo {
    width: 10rem;
    height: auto;
    box-shadow: 0.3rem 0.3rem 0.9rem black, -0.3rem -0.3rem 0.9rem black;
}

.social {
    font-size: 1.25rem;
}

.iconformat {
    color: var(--maincolor);
    font-size: 1.6rem;
}

.fa-bullseye {
    color: var(--maincolor);
    font-size: 1.25rem;
}

    .fa-bullseye:hover + .textformat {
    color: white;
    transition-duration: 0.4s;
    }

.contactformat {
    color: var(--maincolor);
    font-size: 1.38rem;
    font-weight: 500;
    padding-left: 0.7rem;
}

.textformat {
    color: var(--blackcolor);
    font-size: 1.25rem;
    font-weight: 400;
    padding-left: 0.5rem;
    transition-duration: 0.4s;
}

    .textformat:hover {
        color: white;
    }

.mentionsformat {
    margin-top: 0.7rem;
}