<div class="text-center background">

    <br />
    <br />
    <br />
   
    <div class="row justify-content-center">
        <div class="col-3">
            <img src="/images/Logo.jpg" href="/" class="logo" />
        </div>
        <div class="col-3">
            Exploreaza
        </div>
        <div class="col-3">
            Contact
        </div>
    </div>
    
    <br />
    <br />
    <br />

</div>


@code {

}
