<nav class="navbar navbar-expand navbar-prop">
    <div class="container-fluid">
        <NavLink class="navbar-brand ms-3" href="/">
            <img src="/images/Logo.jpg" class="logo" />
        </NavLink>
        <div class="navbar-nav">
        <div class="nav-item">
            <NavLink class="nav-link p-4" ActiveClass="nav-link-active" Match="NavLinkMatch.All" href="/">ACASA</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link p-4" ActiveClass="nav-link-active" href="/Servicii">SERVICII</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link p-4" ActiveClass="nav-link-active" href="/Media">MEDIA</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link p-4" ActiveClass="nav-link-active" href="/Despre">DESPRE</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link p-4" ActiveClass="nav-link-active" href="/Contact">CONTACT</NavLink>
        </div>
        <div class="nav-item">
                <NavLink href="https://www.facebook.com/profile.php?id=100063571201747" class="fa fa-facebook"></NavLink>
        </div> 
        <div class="nav-item">
                <NavLink href="https://www.instagram.com/simulatordetir/" class="fa fa-instagram"></NavLink>
        </div>
        </div>
    </div>
</nav>

@code {

}
