<nav class="navbar navbar-expand background">
    <div class="container-fluid">
        <NavLink class="navbar-brand ms-3" href="/">
            <img src="/images/Logo.jpg" class="logo" />
        </NavLink>
        <div class="navbar-nav">
        <div class="nav-item">
            <NavLink class="nav-link p-4" ActiveClass="nav-link-active" Match="NavLinkMatch.All" href="/">ACASĂ</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link p-4" ActiveClass="nav-link-active" href="/Media">MEDIA</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link p-4" ActiveClass="nav-link-active" href="/Servicii">SERVICII</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link p-4" ActiveClass="nav-link-active" href="/Programare">PROGRAMARE</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link p-4" ActiveClass="nav-link-active" href="/Despre">DESPRE</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link p-4" ActiveClass="nav-link-active" href="/Contact">CONTACT</NavLink>
        </div>
        <div class="alignment">
            <a href="">
                    <i class="fa fa-facebook social"></i>
            </a>
            <a href="">
                    <i class="fa fa-instagram ms-3 social "></i>
            </a>
        </div>
        </div>
    </div>
</nav>

@code {

}