.background {
    background: linear-gradient(90deg, rgba(0,0,0,1) 16%, var(--maincolor) 65%);
}

.logo {
    width: 7.5rem;
    height: auto;
}

.alignment{
    display:flex;
    align-items:center;
    font-size: 1.25rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

::deep .nav-link {
    color: rgb(100,100,100);
    font-size: 1.3rem;
    font-weight: 600;
}

    ::deep .nav-link:hover {
        color: rgb(0,0,0);
    }

    ::deep .nav-link-active {
    color: rgb(0,0,0);
    }




