.background[b-26bm47uo5e] {
    background: linear-gradient(90deg, rgba(0,0,0,1) 16%, var(--maincolor) 65%);
}

.logo[b-26bm47uo5e] {
    width: 8rem;
    height: auto;
}

.alignment[b-26bm47uo5e]{
    display:flex;
    align-items:center;
    font-size: 1.25rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

[b-26bm47uo5e] .nav-link {
    color: var(--blackcolor);
    font-size: 1.3rem;
    font-weight: 600;
}

    [b-26bm47uo5e] .nav-link:hover {
        color: black;
    }

    [b-26bm47uo5e] .nav-link-active {
        color: black;
    }




